.nav {
  grid-area: n;
  background-color: #184712;
  padding: 20px;
}
.item {
  color: #fff;
}
.item:hover {
  background-color: #138605;
}
.item a{
  color: #c8f3ac;
  text-decoration: none;
  font-size: 18px;
}
.item a.active {
  color: #c77513;

}